@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  color: #000;
}
a:link{
  text-decoration: none;
}
.headimg{
  height: 100vh;
  width: 100%;
}
h1{
  align-self: center;
  padding: 10px;
  text-align: center;
}
.midbody{
  padding: 25px;
}
.rightbody{
  text-align: center;
  width: 35%;
  float: right;
}
.leftbody{
  width: 60%;
  float: left;
}
button{
  text-align: center;
  padding: 8px;
  font-weight: 100;
  background-color: rgb(50, 79, 173);
  color: #fff;
  border: none;
  box-shadow: none;
}
button:hover{
  border: none;
  background-color: #B2BEB5;
  box-shadow: none;
}
.btnarr{
  color: #fff;
}
.vidlink{
  padding: 15px;
}
#foot_section1_list{
  display: flex;
  width: 100%;
  background-color: #B2BEB5;
  list-style: none;
  padding: 25px;
  align-items: start;
  text-transform: capitalize;
}
#foot_section1_listitem{
  padding-left: 10px;
}
footer{
  text-decoration: none;
}
@media only screen and ( max-width: 750px){
.midbody{
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}
.leftbody , .rightbody{
  height: 100%;
  width: 100%;
  text-align: center, justify;
}
.iframe{
  width: fit-content;
}
#foot_section1_list{
  display: block;
}
#foot_section1_listitem{
  padding: 10px;
}
}